html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-size: cover;
  font-family: "Trebuchet MS", sans-serif;
}

.video-container video, img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  z-index: -1;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#kell, #kuupäev, #ilm {
  color: #ffffff;
  display: block;
  text-align: center;
  position: relative;
  transform: translateY(-50%);
  white-space: nowrap;
  text-shadow: 2px 2px 8px #000000;
  min-height: 70px;
}

#kell {
  top: 40%;
  font-size:calc(70px + 7vw);
}

#kuupäev {
  top: 35%;
  font-size:calc(50px + 1vw);
}

#ilm {
  top: 35%;
  font-size:calc(50px + 1vw);
}